@import 'fonts';
@import 'variables';
@import '~bulma';
@import '~bulma-switch';

.title {
  font-family: 'Frijole', cursive;
}

#app {
  font-family: $family-primary;
}

html {
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  @import "theme/dark";
}
